.primary-color-text {
    color: #42994b;
}

.primary-color-background {
    background-color: #42994b;
}

.secondary-color-text {
    color: #9BC89A;
}

.secondary-color-background {
    background-color: #9BC89A;
}


.secondary-color-text {
    color: #9BC89A;
}