
<!--Here we want to display a header to the user and info about registyer page -->
<ion-header>
  <ion-toolbar  color="primary"> 
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Walkies</ion-title>
  </ion-toolbar>
  
</ion-header>
<ion-content [fullscreen]="true">

<ion-content>
<ion-content>
  <div class="card-background"></div>
  <div class="flex-view">
    <div>
      <h1 class="ion-text-center">Sign Up As Walker</h1>
      <p class="ion-text-center">Sign up below to start walking dogs for an income. </p>
    </div>

    <!--Here we have tre card which dispays input for the email and password-->
    <div class="input-card">
      <!--Here we will have the profile image-->
      <ion-img *ngIf="imagePath != null " [src]="imagePath" class="profile-photo"></ion-img>
            <ion-button *ngIf="imagePath != null " style="text-align:center" class="text" (click)="deletePhoto()">
              Remove Image
              <ion-icon name="close-outline" (click)="deletePhoto()"></ion-icon>
            
              
            </ion-button>

            <ion-button *ngIf="imagePath == null " style="text-align:center" class="text" (click)="takePicture()">
              Upload Image
              <ion-icon name="person-circle-outline"></ion-icon>
              <ion-icon name="camera-outline"></ion-icon>
              +
            </ion-button>

      <!--FIRST NAME-->
      <ion-item class="floating-input">
        <ion-label position="floating">First Name</ion-label>
        <ion-input  [(ngModel)]="firstName"></ion-input>
      </ion-item>
      <!--Last Name-->
      <ion-item class="floating-input">
        <ion-label position="floating">Last Name</ion-label>
        <ion-input  [(ngModel)]="lastName"></ion-input>
      </ion-item>
       <!--Eircode-->
       <ion-item class="floating-input">
        <ion-label position="floating">Eircode</ion-label>
        <ion-input  [(ngModel)]="eircode"></ion-input>
      </ion-item>
      <!--phone-->
      <ion-item class="floating-input">
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input  [(ngModel)]="phoneNumber"></ion-input>
      </ion-item>
        <!--County-->
        <!--This needs to be changed to select box-->
        <ion-item class="floating-input">
          <ion-label position="floating">County</ion-label>
          <ion-select value="brown" okText="Okay" cancelText="Dismiss" [(ngModel)]="county">
            <ion-select-option value="Antrim">Antrim</ion-select-option>
            <ion-select-option value="Armagh">Armagh</ion-select-option>
            <ion-select-option value="Carlow">Carlow</ion-select-option>
            <ion-select-option value="Cavan">Cavan</ion-select-option>
            <ion-select-option value="Clare">Clare</ion-select-option>
            <ion-select-option value="Cork">Cork</ion-select-option>
            <ion-select-option value="Derry">Derry</ion-select-option>
            <ion-select-option value="Donegal">Donegal</ion-select-option>
            <ion-select-option value="Down">Down</ion-select-option>
            <ion-select-option value="Dublin">Dublin</ion-select-option>
            <ion-select-option value="Fermanagh">Fermanagh</ion-select-option>
            <ion-select-option value="Galway">Galway</ion-select-option>
            <ion-select-option value="Kerry">Kerry</ion-select-option>
            <ion-select-option value="Kildare">Kildare</ion-select-option>
            <ion-select-option value="Kilkenny">Kilkenny</ion-select-option>
            <ion-select-option value="Laois">Laois</ion-select-option>
            <ion-select-option value="Leitrim">Leitrim</ion-select-option>
            <ion-select-option value="Limrick">Limrick</ion-select-option>
            <ion-select-option value="Longford">Longford</ion-select-option>
            <ion-select-option value="Louth">Louth</ion-select-option>
            <ion-select-option value="Mayo">Mayo</ion-select-option>
            <ion-select-option value="Meath">Meath</ion-select-option>
            <ion-select-option value="Monaghan">Monaghan</ion-select-option>
            <ion-select-option value="Offaly">Offaly</ion-select-option>
            <ion-select-option value="Rosscommon">Rosscommon</ion-select-option>
            <ion-select-option value="Sligo">Sligo</ion-select-option>
            <ion-select-option value="Tipperary">Tipperary</ion-select-option>
            <ion-select-option value="Tyrone">Tyrone</ion-select-option>
            <ion-select-option value="Waterford">Waterford</ion-select-option>
            <ion-select-option value="Westmeath">Westmeath</ion-select-option>
            <ion-select-option value="Wexford">Wexford</ion-select-option>
            <ion-select-option value="Wicklow">Wicklow</ion-select-option>
          </ion-select>
        </ion-item>
           <!--This needs to be changed to select box-->
        <ion-item class="floating-input">
          <ion-label position="floating">Address line</ion-label>
          <ion-input  [(ngModel)]="addressLine"></ion-input>
        </ion-item>
        <!--Available county to walk from-->
        <ion-item class="floating-input">
          <ion-label position="floating">Available County To Walk</ion-label>
          <ion-select value="brown" okText="Okay" cancelText="Dismiss" [(ngModel)]="availableCounty">
            <ion-select-option value="Antrim">Antrim</ion-select-option>
            <ion-select-option value="Armagh">Armagh</ion-select-option>
            <ion-select-option value="Carlow">Carlow</ion-select-option>
            <ion-select-option value="Cavan">Cavan</ion-select-option>
            <ion-select-option value="Clare">Clare</ion-select-option>
            <ion-select-option value="Cork">Cork</ion-select-option>
            <ion-select-option value="Derry">Derry</ion-select-option>
            <ion-select-option value="Donegal">Donegal</ion-select-option>
            <ion-select-option value="Down">Down</ion-select-option>
            <ion-select-option value="Dublin">Dublin</ion-select-option>
            <ion-select-option value="Fermanagh">Fermanagh</ion-select-option>
            <ion-select-option value="Galway">Galway</ion-select-option>
            <ion-select-option value="Kerry">Kerry</ion-select-option>
            <ion-select-option value="Kildare">Kildare</ion-select-option>
            <ion-select-option value="Kilkenny">Kilkenny</ion-select-option>
            <ion-select-option value="Laois">Laois</ion-select-option>
            <ion-select-option value="Leitrim">Leitrim</ion-select-option>
            <ion-select-option value="Limrick">Limrick</ion-select-option>
            <ion-select-option value="Longford">Longford</ion-select-option>
            <ion-select-option value="Louth">Louth</ion-select-option>
            <ion-select-option value="Mayo">Mayo</ion-select-option>
            <ion-select-option value="Meath">Meath</ion-select-option>
            <ion-select-option value="Monaghan">Monaghan</ion-select-option>
            <ion-select-option value="Offaly">Offaly</ion-select-option>
            <ion-select-option value="Rosscommon">Rosscommon</ion-select-option>
            <ion-select-option value="Sligo">Sligo</ion-select-option>
            <ion-select-option value="Tipperary">Tipperary</ion-select-option>
            <ion-select-option value="Tyrone">Tyrone</ion-select-option>
            <ion-select-option value="Waterford">Waterford</ion-select-option>
            <ion-select-option value="Westmeath">Westmeath</ion-select-option>
            <ion-select-option value="Wexford">Wexford</ion-select-option>
            <ion-select-option value="Wicklow">Wicklow</ion-select-option>
          </ion-select>
        </ion-item>

      <!--Email-->
      <ion-item class="floating-input">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input  [(ngModel)]="email"></ion-input>
      </ion-item>
      <!--Password-->
      <ion-item class="floating-input">
        <ion-label position="floating">Password</ion-label>
        <ion-input #passwordInput clearOnEdit="false" [type]="show ? 'text' : 'password'"[(ngModel)]="password"></ion-input>
        <ion-button slot="end"  shape="round" color="dark" fill="clear">    
        </ion-button>
        <ion-icon name="eye" slot="end" (click)="showUserPassword()" color="primary"></ion-icon>
      </ion-item>
      <!--Confirm password-->
      <ion-item class="floating-input">
        <ion-label position="floating">Password</ion-label>
        <ion-input clearOnEdit="false" type="password" [type]="show ? 'text' : 'password'"></ion-input>
      </ion-item>
      <ion-button  class="custom-button" expand="block" (click)="SignUp()">
        Sign up
      </ion-button>
    </div>
    <div>
      
      <div class="ion-text-center social-auth">
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-google"></ion-icon>
        <ion-icon name="logo-twitter"></ion-icon>
      </div>

      <div class="ion-text-center">
        <ion-button fill="clear" [routerLink]="['/','login-walker']" routerDirection="back">
          Have an account as a walker ? Sign in
        </ion-button>
        
      </div>
    </div>
  </div>
</ion-content>
