<!--Header-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Walkies - my walks</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-content>


  <!--In walk card - if it is today or the most recent one show it in a green border at the top and show the date-->

  <ion-card class="recent-walk" *ngFor="let walk of allWalkersWalks">
    
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <img src="../../../../assets/img/search-walker/map.jpg">
        </ion-col>
        <ion-col size="8">
            <ion-row>
             {{format_time(walk.timeCreated)}}
            </ion-row>
            <ion-row>
              <ion-col class="stat-col">
                {{metersToKm(walk.walkDistance)}}Km
              </ion-col>
              
              <ion-col class="stat-col">
                € {{walk.price}}
              </ion-col>
              <ion-col class="stat-col">
                {{walk.numberPets}} <ion-icon name="paw"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>

              {{secondsToTime(walk.walkDuration)}} 
            </ion-row>
            <ion-row>
              Dog Owner :
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-chip>
                  <ion-avatar>
                    <img src="../../../../assets/img/owner-pets/muller.jpg">
                  </ion-avatar>
                  <ion-label>{{walk.ownerEmail}}</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

   <!--My walk card item end-->


   
</ion-content>

<!--DOG OWNER TABS-->
<ion-footer>
<ion-tabs>  
  <ion-fab vertical="bottom" horizontal="center" translucent="true"  [routerLink]="['/','find-walks']">
    <ion-fab-button >
      <img src="../../../../assets/img/owner-home/lead.png">
    </ion-fab-button>
  </ion-fab> 
  <ion-tab-bar slot="bottom" class="ion-no-border">
    <ion-tab-button tab="tab-encounters">
      <ion-icon name="home" ></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab-conversations" class="comments" [routerLink]="['/','owner-pets']">
      
      <ion-badge></ion-badge>
    </ion-tab-button>
    <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"></path></svg>
    <ion-tab-button tab="tab-notifications" class="active" [routerLink]="['/','my-walks-walker']">
      <ion-icon name="walk"></ion-icon>
      <ion-badge>1</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="tab-profile">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-footer>
