<!--Header-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Walkies</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <!--Here we will display the map-->
  <google-map #mapel height="60%" width="100%" [zoom]="zoom" [center]="center">
    <map-marker *ngFor="let marker of markers" [position]="marker.position" 
      [title]="marker.title" [options]="marker.options">
    </map-marker>
    <map-polyline>
    </map-polyline>
  </google-map>


  <!--Currently offline click button to start searching-->

  <!--Searching for walkers-->
 

  <!--Walkers found-->
  <ion-item no-lines>
    <ion-label>Found walks in : 
   
        <ion-item>
         <ion-label>County</ion-label>
          <ion-select [(ngModel)]="selectedCounty"
          (ngModelChange)='countyChanged()'>
            <ion-select-option value="Antrim">Antrim</ion-select-option>
            <ion-select-option value="Armagh">Armagh</ion-select-option>
            <ion-select-option value="Carlow">Carlow</ion-select-option>
            <ion-select-option value="Cavan">Cavan</ion-select-option>
            <ion-select-option value="Clare">Clare</ion-select-option>
            <ion-select-option value="Cork">Cork</ion-select-option>
            <ion-select-option value="Derry">Derry</ion-select-option>
            <ion-select-option value="Donegal">Donegal</ion-select-option>
            <ion-select-option value="Down">Down</ion-select-option>
            <ion-select-option value="Dublin">Dublin</ion-select-option>
            <ion-select-option value="Fermanagh">Fermanagh</ion-select-option>
            <ion-select-option value="Galway">Galway</ion-select-option>
            <ion-select-option value="Kerry">Kerry</ion-select-option>
            <ion-select-option value="Kildare">Kildare</ion-select-option>
            <ion-select-option value="Kilkenny">Kilkenny</ion-select-option>
            <ion-select-option value="Laois">Laois</ion-select-option>
            <ion-select-option value="Leitrim">Leitrim</ion-select-option>
            <ion-select-option value="Limrick">Limrick</ion-select-option>
            <ion-select-option value="Longford">Longford</ion-select-option>
            <ion-select-option value="Louth">Louth</ion-select-option>
            <ion-select-option value="Mayo">Mayo</ion-select-option>
            <ion-select-option value="Meath">Meath</ion-select-option>
            <ion-select-option value="Monaghan">Monaghan</ion-select-option>
            <ion-select-option value="Offaly">Offaly</ion-select-option>
            <ion-select-option value="Rosscommon">Rosscommon</ion-select-option>
            <ion-select-option value="Sligo">Sligo</ion-select-option>
            <ion-select-option value="Tipperary">Tipperary</ion-select-option>
            <ion-select-option value="Tyrone">Tyrone</ion-select-option>
            <ion-select-option value="Waterford">Waterford</ion-select-option>
            <ion-select-option value="Westmeath">Westmeath</ion-select-option>
            <ion-select-option value="Wexford">Wexford</ion-select-option>
            <ion-select-option value="Wicklow">Wicklow</ion-select-option>
          </ion-select>
        </ion-item>
    
    </ion-label>
  </ion-item>




  <!--This section will be all walkers -->
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let request of requests;index as i">
      <ion-card>
        <ion-item lines="none">
        
          <ion-label>
            <ion-avatar slot="start">
              <img [src]="request.profileImageUrl">
            </ion-avatar>
            <h3>{{request.name}}</h3>
            <h3>{{request.email}}</h3>
            <h4>{{request.county}}</h4>

            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
        
            <ion-row>
              <ion-col>
                {{request.numberPets}} dogs <ion-icon name="paw"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngFor="let dog of request.dogs">      
                
                  <ion-avatar>
                    <!--<img src="../../../../assets/img/add-pets/dog.png">-->
                    <img [src]="dog.profileImageUrl">
                  </ion-avatar>
                  <ion-label>{{dog.name}}</ion-label>
                
              </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  € {{request.price}}
                </ion-col>
                <ion-col>
                  {{request.durationMins}} Minutes
                 
                </ion-col>
              </ion-row>
           
          
            <ion-button *ngIf="acceptBtns[i] != 'Waiting'  && request.rapidWalkId == null"  (click)="acceptRequest(request , i)">Accept</ion-button>
            <ion-button *ngIf="acceptBtns[i] === 'Waiting' && request.rapidWalkId == null" >Waiting .. </ion-button>
            <!--If the walk is accept , or there is a rapid id field on it we need to display start walking-->
            <ion-button *ngIf="request.rapidWalkId != null" (click)="joinRapidWalk(request.rapidWalkId)">Join Walk
            </ion-button>
           <!-- <ion-button (click)="declineRequest(request)">Decline</ion-button> -->
            <ion-button (click)="viewOwnerOnMap(request)">View On Map</ion-button>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-slide>
  </ion-slides>


</ion-content>