.user {
    width: 50%;
}

#user {
    width: 100px;
    height: auto;
}




img{
    background-color: white;
    border: 0;
}

.home {
   color:var(--ion-color-primary);
}

#call-to-action-div{
    background: #42994b;
    text-align: center;
    width: 100%;
   
}



h2 {
    font-size: 35px;
}
#call-to-action-div ,  h1 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

label {
    color: #42994b;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div {
    display: inline-block;
    }