.end-walk-btn {
    width: 100%;
    
}

.view-walker-btn{
    width: 100%;
}

.view-me-btn {
    width: 100%;
}

.start-walk-btn {
    width: 100%;
}

.live-txt {
    color: white;
}


.end-walk-btn {
    width: 100%;
    
}

.view-walker-btn{
    width: 100%;
}

.view-me-btn {
    width: 100%;
}

.start-walk-btn {
    width: 100%;
}

.live-txt {
    color: white;
}


.end-walk-btn {
    width: 100%;
}

.walk-complete-card{ 
    text-align: center;
}

.walk-complete-text {
    text-align: center;
    color: green;
}

h4 {
    color: #42994b;
}

.review-btn {
    width: 100%;
}
