<!--Header-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title style="width: 100%; position: absolute; left: 0; color: var(--ion-color-primary);">
      Walkies - Find walkers
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <!--Here we will display the map-->
  <google-map #mapel height="50%" width="100%" [zoom]="zoom" [center]="center">
    <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
      [title]="marker.title" [options]="marker.options">
    </map-marker>
    <map-polyline>
    </map-polyline>
  </google-map>

  <!--If walk not in progress show this-->
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Waiting for walker to start walk.</ion-label>
    </ion-item>
    <ion-list lines="none">
      <ion-item>
        <ion-button fill="outline" slot="end" class="view-me-btn">View me</ion-button>
        <ion-button slot="end" class="view-walker-btn">View walker</ion-button>
      </ion-item>
    </ion-list>
    <ion-card-content>
      The walker will be on his way to you shorty.
      Once he has arrived and starts the walk you can view it.
    </ion-card-content>
  </ion-card>

  <!--Stats on the walk - (ONLY SHOW IF WALK IN PROGRESSS)-->
  <ion-card *ngIf="walkInProgress">
    <ion-row>
      <ion-col>
        <ion-list lines="none">
          <ion-item>
            <ion-button slot="end">Live</ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list lines="none">
          <ion-item>
            <ion-button fill="outline" slot="end">0hr 0min 0s</ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list lines="none">
          <ion-item>
            <ion-button fill="outline" slot="end">0 km</ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="end-walk-btn">END WALK</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <!--Chatbox-->


</ion-content>