<!--Header-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Walkies - My Pets</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!--LIST OF PETS-->

  <ion-grid>
    <ion-row>
      <ion-col sizeLg="6" sizeMd="6" sizeXs="6" *ngFor="let pet of ownersPets">
        <ion-card>
          <ion-img  class="pet-img"  [src]="pet.profileImageUrl"></ion-img>
          <ion-card-header>
            <ion-card-title>{{pet.name}} </ion-card-title>
            <ion-card-subtitle>{{pet.breed}} </ion-card-subtitle>
            <ion-card-subtitle>{{pet.age}} years , {{pet.height}}</ion-card-subtitle>
            <ion-card-subtitle>Number of walks 5</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-row>
              <ion-col>
                <label class="view-btn">View</label>
              </ion-col>
              <ion-col  (click)="test()">
                <label class="edit-btn" (click)="test()">Edit</label>
              </ion-col>
              <ion-col>
                
                <label class="remove-btn" (click)="removePet(pet.id)">Remove</label>
              </ion-col>
            </ion-row>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--ADD PET BTN -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/','add-pet']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>





</ion-content>


<!--DOG OWNER TABS-->
<ion-tabs>
  <ion-fab vertical="bottom" horizontal="center" translucent="true">
    <ion-fab-button [routerLink]="['/','choose-walk-details']">
      <img src="../../../../assets/img/owner-home/lead.png">
    </ion-fab-button>
  </ion-fab>
  <ion-tab-bar slot="bottom" class="ion-no-border">
    <ion-tab-button tab="tab-encounters">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab-conversations" class="comments" [routerLink]="['/','owner-pets']" class="active">
      <ion-icon name="paw"></ion-icon>
      <ion-badge></ion-badge>
    </ion-tab-button>
    <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg">
      <path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd">
      </path>
    </svg>
    <ion-tab-button tab="tab-notifications" class="notifs" [routerLink]="['/','my-walks-owner']">
      <ion-icon name="walk"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab-profile" [routerLink]="['/','my-profile-owner']">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>